# TODO: Remove once we can activate mise reliably
eval "$(mise env -s bash)"

source .venv/bin/activate
unset PS1

# TODO: make dev dependencies explicit with aqua
# TODO: make Git hooks run in IDEA -> lefthook.rc
