[tools]
python = "3.14"

[tools.uv]
version = "0.9"
postinstall = "mise run install-local-completions uv generate-shell-completion"

[tools.editorconfig-checker]
version = "3.5"

[tools.lefthook]
version = "2.0"
postinstall = 'mise run install-local-completions lefthook completion'

[tools.cocogitto]
version = "6.5"
postinstall = 'mise run install-local-completions cog generate-completions'

# implement in mise.local.toml or ~/.config/mise.toml
# cf. https://gist.github.com/reitzig/2885464e5c2fcc0f84bda9e1dae4f7b1
# [tasks.install-local-completions]
# hide = true
# run = '<your code>'
