# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
    env:
      MISE_ENV: "ci"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install tooling
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3
      - name: Switch to Python ${{ matrix.python-version }}
        run: "mise use python@${{ matrix.python-version }}"
      - name: Install dependencies
        run: "uv sync"
      - name: Lint
        run: "uv run poe lint"
      - name: Test with pytest
        run: "uv run poe test"
